body{
    background-image: url(../pictures/keyboards.jpg);
    background-size: 100%; 
    font-family: monospace;
    font-size: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: blue;
    -webkit-text-stroke: 2px #ffffff;
 }
 #button{
    font-size: 125%; 
    padding:5px 10px 5px 10px; 
    margin: 10px; 
    background-color: white; 
    border-left: 5px solid rgb(130,130,130);
    border-top: 5px solid rgb(130,130,130);
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-text-stroke: 0px;
    color: crimson;
}
#button:hover {     
    cursor: pointer; 
    box-shadow: 5px 5px crimson; 
    transition: transform .35s;
}