* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    background: #330570;
}

a {
    color: #FFC373;
    text-decoration: none;
}

a:hover {
    color: #A65F00;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #FF9200;
    margin: 30px 0 60px 0;
}

h1:after {
    content: '';
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 30%;
    height: 3px;
    background-color: #530FAD;
    margin-bottom: -30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

header {
    font-family: monospace;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #8243D6;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1100px;
}

header .column {
    width: 33.333%;
    max-width: 700px;
    flex-shrink: 0;
    min-width: 350px;
}

.logos_block {
    display: flex;

}

header .itmo_block {
    flex: 1 1 auto;
    padding: 15px 0 5px 15px;
    width: calc(33% - 130px);
}

header .main_title {
    max-width: 1000px;
    margin: 10px;
    color: #FF9200;
    padding: 30px 0;
    background-color: #330570;
    border: 2px solid #4F2982;
    border-radius: 60px 0;
    box-shadow: 5px 5px 3px #996AD6, -8px -8px 8px #A65F00;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

header .error_title {
    color: #330570;
    background-color: #E40045;
    border-color: #94002D;
    box-shadow: 5px 5px 3px #94002D, -8px -8px 8px #E40045;
}

header .made_by {
    text-align: right;
}

.main_content {
    text-align: center;
}

.main_content .content_row {
    justify-content: space-around;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
    text-align: center;
    max-width: 1500px;
    height: 200px;
}

.main_content .column {
    max-width: 800px;
    min-width: 300px;
    background-color: #530FAD;
    margin: 1%;
    border: #996AD6 5px solid;
    border-radius: 15px;
}

.column .clock_block {
    padding: 40px 0;
}

.clock_block .date_style, .ui-clock {
    font-size: 24px;
    font-weight: 600;
    color: #FF9200;
    margin: 10px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-family: "Trebuchet MS", sans-serif;
!important;
}

.ui-clock {
    background: #530FAD;
!important;
    border: none;
!important;
    padding: 0;
    text-align: left;

}

footer {
    padding: 5px;
    width: 100%;
    background-color: #8243D6;
    color: #FFFFFF;
    min-width: 1100px;
}

footer .footer_text {
    display: inline-block;
    width: 100%;
    text-align: center;
}